<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proto</title>
</head>

<body>
    <div>
        {% if tasks %}
            {% for task in tasks %}
                <a href="{% url "taskdtl" task.id %}">{{ task }}</a>
            {% endfor %}
        {% else %}
            No task available
        {% endif %}
    </div>
    
    <div>
        <a href="{% url "taskadd" %}">Add Task</a>
    </div>


</body>
</html>